<p id="personalMessage" ng-repeat="msg in deliveryDetails.message track by $id(msg)">{{msg}}
    <span ng-if="deliveryDetails.deliveryPrice > 0"> ${{deliveryDetails.deliveryPrice}}</span>
</p>
<div class="input-group courier col-md-3" ng-repeat="deliveryIco in deliveryDetails.chooseIco">
    <span class="input-group-addon">
        <input type="radio" name="deliveryRadios" id="radio{{deliveryIco}}" ng-click="selectDeliveryRadio(deliveryIco)">
    </span>
    <img ng-src="img/delivery_{{deliveryIco}}.gif" alt="{{deliveryIco}}" class="img-rounded">
</div>