<div class="container">
    <div class="jumbotron starter-template">
        <div id="pricetable">
            <table class="table">
                <thead>
                <tr>
                    <th>Description</th><th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="sellItem in sellItems"><td>{{sellItem.description}}</td><td>${{sellItem.price.toFixed(2)}}</td></tr>
                <tr><td class="right"><span class="label label-default">Delivery</span></td><td>${{deliveryPrice.toFixed(2)}}</td></tr>
                <tr><td class="right"><span class="label label-default">Total</span></td><td>${{totalPrice.toFixed(2)}}</td></tr>
                </tbody>
            </table>
        </div>

        <ng-form name="QEForm" role="form">
            <!--<select class="form-control selfish" ng-model="selectedTestAccount" ng-change="selectChange(null)" ng-options="testAccount.name for testAccount in testAccounts">
                <option value="">Select account</option>
            </select>-->

            <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Delivery <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="selectChange('delivery', deliveryMethod)" ng-repeat="deliveryMethod in deliveryMethods" id="{{deliveryMethod.id}}"><a href="">{{deliveryMethod.name}}</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control dropDownValue" value="{{deliveryMethod}}" disabled>
            </div>
            <div class="left indent">
                <div id="personalCollection" class="callout" ng-if="showDelivery[0]">
                    <p>Personal collection</p>
                </div>
                <div id="courier" class="callout" ng-if="showDelivery[1]">
                    <p>Courier</p>
                </div>
                <div id="post" class="callout" ng-if="showDelivery[2]">
                    <p>Post</p>
                </div>
            </div>
            <div class="input-group" ng-if="showDelivery[0] || showDelivery[1] || showDelivery[2]">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Billing <span class="caret"></span></button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-click="selectChange('billing', billingMethod)" ng-repeat="billingMethod in billingMethods" id="{{billingMethod.id}}"><a href="">{{billingMethod.name}}</a></li>
                    </ul>
                </div>
                <input type="text" class="form-control dropDownValue" value="{{billingMethod}}" disabled>
            </div>
            <div class="left indent">
                <div id="cashPersonalCollection" class="callout" ng-if="showBilling[0] && showDelivery[0]">
                    <p>Cash + personal collection</p>
                </div>
                <div id="cashCourier" class="callout" ng-if="showBilling[0] && showDelivery[1]">
                    <p>Cash + courier</p>
                </div>
                <div id="cashPost" class="callout" ng-if="showBilling[0] && showDelivery[2]">
                    <p>Cash + post</p>
                </div>
                <div id="creditCard" class="callout" ng-if="showBilling[1]">
                    <p>Credit card</p>
                </div>
                <div id="bankTransfer" class="callout" ng-if="showBilling[2]">
                    <p>Bank transfer</p>
                </div>
            </div>

        </ng-form>
    </div>
</div><!-- /.container -->
