<div class="container">
    <div class="jumbotron starter-template">
        <div id="cashCourier" class="callout row">

            <div class="input-group courier col-md-2">
                <span class="input-group-addon">
                    <input type="radio" name="post">
                </span>
                <img ng-src="img/delivery_DHL.gif" alt="DHL" class="img-rounded">
            </div>

            <div class="input-group courier col-md-2">
                <span class="input-group-addon">
                    <input type="radio" name="post">
                </span>
                <img ng-src="img/delivery_DHL.gif" alt="DHL" class="img-rounded">
            </div>

            <div class="input-group courier col-md-2">
                <span class="input-group-addon">
                    <input type="radio" name="post">
                </span>
                <img ng-src="img/delivery_DHL.gif" alt="DHL" class="img-rounded">
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">.col-md-2</div>
    <div class="col-md-2">.col-md-2</div>
    <div class="col-md-2">.col-md-2</div>
</div>